<h1>釣り場一覧だよ</h1>
<a href=<%= `/fishingspots/new` %> class='button is-danger'>作成</a>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
    <% fishingspots.forEach(fishingspot => { %>
      <tr>
        <td><%= fishingspot.id %></td>
        <td><%= fishingspot.name %></td>
        <td>
          <a href=<%= `/fishingspots/${fishingspot.id}/edit` %> class='button'>
            編集
          </a>
          <form action=<%= `/fishingspots/${fishingspot.id}?_method=DELETE` %> method="post">
            <button type="submit" class="button">削除</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>